<% include partials/head %>

    <body>
        <div id="conteneurPrinc">

            <% include partials/nav %>

                <main>
                    <section id="principale" class="listeMembre">
                        <form class="formulairePost" action="/modifier" method="POST">
                            <input type="text" name="id" id="formId">
                            <input type="text" name="prenom" id="formPrenom">
                            <input type="text" name="nom" id="formNom">
                            <input type="text" name="tel" id="formTel">
                            <input type="text" name="courriel" id="formCourriel">
                            <input type="submit">
                        </form>
                        <form class="formulaireRechercher" action="/rechercherMembre" method="POST" >
                            <h3><%= __("rechercher") %></h3>
                            <div class="inputGroup">
                                <input id="rechercheReq" name="recherche" type="search">
                                <input type="submit" value="<%= __('rechercher') %>">
                            </div>
                        </form>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        <%= __('titreListe') %>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th>
                                        <a href="/trier/prenom/<% if(typeof ordre == 'undefined'){ %><%='asc'%><%}else{%><%= ordre%><%}%>">
                                            <%= __('prenomEntete') %>
                                                <i class="fa <% if(typeof ordre == 'undefined'){ %><%='fa-sort-down'%><%}else if(ordre == 'asc'){%><%= 'fa-sort-up'%><%}else{%><%= 'fa-sort-down'%><%}%>"></i>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="/trier/nom/<% if(typeof ordre == 'undefined'){ %><%='asc'%><%}else{%><%= ordre%><%}%>">
                                            <%= __('nomEntete') %>
                                                <i class="fa <% if(typeof ordre == 'undefined'){ %><%='fa-sort-down'%><%}else if(ordre == 'asc'){%><%= 'fa-sort-up'%><%}else{%><%= 'fa-sort-down'%><%}%>"></i>
                                        </a>
                                    </th>
                                    <th class="tel">
                                        <a href="/trier/tel/<% if(typeof ordre == 'undefined'){ %><%='asc'%><%}else{%><%= ordre%><%}%>">
                                            <%= __('telephoneEntete') %>
                                                <i class="fa <% if(typeof ordre == 'undefined'){ %><%='fa-sort-down'%><%}else if(ordre == 'asc'){%><%= 'fa-sort-up'%><%}else{%><%= 'fa-sort-down'%><%}%>"></i>
                                        </a>
                                    </th>
                                    <th class="courriel">
                                        <a href="/trier/courriel/<% if(typeof ordre == 'undefined'){ %><%='asc'%><%}else{%><%= ordre%><%}%>">
                                            <%= __('courrielEntete') %>
                                                <i class="fa <% if(typeof ordre == 'undefined'){ %><%='fa-sort-down'%><%}else if(ordre == 'asc'){%><%= 'fa-sort-up'%><%}else{%><%= 'fa-sort-down'%><%}%>"></i>
                                        </a>
                                    </th>
                                    <th class="btn-mod"></th>
                                    <th class="btn-detr"></th>
                                    <th>
                                        <a href="/ajouter">
                                            <i class="fas fa-plus-circle fa-2x"></i>
                                        </a>
                                    </th>
                                </tr>
                                <% for(let elem of data){ %>
                                    <tr class="donneesListe">
                                        <input type="hidden" class="id" value="<%= elem._id %>">
                                        <td class="prenom" contenteditable="true">
                                            <%= elem.prenom %>
                                        </td>
                                        <td class="nom" contenteditable="true">
                                            <%= elem.nom %>
                                        </td>
                                        <td class="tel" contenteditable="true">
                                            <%= elem.tel %>
                                        </td>
                                        <td class="courriel" contenteditable="true">
                                            <%= elem.courriel %>
                                        </td>
                                        <td class="btn-mod">
                                            <a href="/majMembre/">
                                                <i class="fas fa-save fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="btn-detr">
                                            <a href="/detruireMembre/<%= elem._id %>">
                                                <i class="fas fa-trash fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="btn-profil">
                                            <a href="/profil/<%= elem._id %>">
                                                <i class="fas fa-address-card fa-2x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </section>
                </main>
                <% include partials/footer %>
        </div>
        <script src="/js/listeMembres.js"></script>
    </body>

    </html>